In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/loan_train_cleaning.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [3]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

### 머신러닝 벼너수
* label : 정답, 종속변수
* feature : 속성(), 독립변수

In [7]:
features = ['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']
label = 'Loan_Status'

In [9]:
#df[features]
X, y = df[features], df[label]

### 데이터셋 분리
* train_test_split
    -train(학습),test(확인) 데이터를 분리해주는 기능

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = \
                    train_test_split(X,y,test_size=0.2, random_state=62)

In [11]:
X_train.shape, X_test.shape, len(y_train), len(y_test)

((491, 11), (123, 11), 491, 123)

In [12]:
df.shape

(614, 13)

### 모델 생성 및 학습
* 모델 생성 : 변수 = DecisionTreeClassifier()
* 학습 : 변수.fit(X_train, y_train)
    - 문제와 정답을 알고리즘에 학습
* 예측 : 변수.predict(X_test)
    - 확인용 문제를 predict에 넣으면 정답을 알려준다

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
dtc = DecisionTreeClassifier() # 모델생성
dtc.fit(X_train, y_train) # 학습

DecisionTreeClassifier()

In [15]:
pred = dtc.predict(X_test)
pred

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1], dtype=int64)

In [16]:
y_test

275    1
543    1
463    1
395    1
464    0
      ..
584    0
302    1
112    0
125    1
317    1
Name: Loan_Status, Length: 123, dtype: int64

### 예측 정확도 평가
* accuracy_score : 예측값과 실제값과 비교해준다
    - 정확도 : 맞춘 비율

In [18]:
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(y_test, pred)
acc_score

0.7073170731707317

### 예측값 적용

In [19]:
df_test = pd.read_csv('data/loan_test_cleaning.csv')
df_test.head().T

                        0       1       2       3       4
Loan_ID               0.0     1.0     2.0     3.0     4.0
Gender                1.0     1.0     1.0     1.0     1.0
Married               1.0     1.0     1.0     1.0     0.0
Dependents            0.0     1.0     2.0     2.0     0.0
Education             0.0     0.0     0.0     0.0     1.0
Self_Employed         0.0     0.0     0.0     0.0     0.0
ApplicantIncome    5720.0  3076.0  5000.0  2340.0  3276.0
CoapplicantIncome     0.0  1500.0  1800.0  2546.0     0.0
LoanAmount          110.0   126.0   208.0   100.0    78.0
Loan_Amount_Term    360.0   360.0   360.0   360.0   360.0
Credit_History        1.0     1.0     1.0     1.0     1.0
Property_Area         2.0     2.0     2.0     2.0     2.0

In [20]:
X_test = df_test[features]
#X_test
y_test = dtc.predict(X_test)
y_test

array([0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1], dtype=int64)

In [21]:
df_test['Loan_Status'] = y_test
df_test.head().T

                        0       1       2       3       4
Loan_ID               0.0     1.0     2.0     3.0     4.0
Gender                1.0     1.0     1.0     1.0     1.0
Married               1.0     1.0     1.0     1.0     0.0
Dependents            0.0     1.0     2.0     2.0     0.0
Education             0.0     0.0     0.0     0.0     1.0
Self_Employed         0.0     0.0     0.0     0.0     0.0
ApplicantIncome    5720.0  3076.0  5000.0  2340.0  3276.0
CoapplicantIncome     0.0  1500.0  1800.0  2546.0     0.0
LoanAmount          110.0   126.0   208.0   100.0    78.0
Loan_Amount_Term    360.0   360.0   360.0   360.0   360.0
Credit_History        1.0     1.0     1.0     1.0     1.0
Property_Area         2.0     2.0     2.0     2.0     2.0
Loan_Status           0.0     1.0     0.0     1.0     0.0

In [25]:
user = [[1.0,1.0,0.0,0.0,0.0,5720.0,0.0,110.0,360.0,1.0,2.0]]
if dtc.predict(user)[0] == 1:
    print('대출 가능')
else:
    print('다음 기회에!')

다음 기회에!

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(