### titanic 예측
* titanic_cleaning.csv 파일을 불러와서 진행하시오.
* PassengerId는 순차적인 번호이므로 제외하고 진행하시오
* train, test 80:20으로 진행하시오
* 여러가지 모델을 생성 후 최적의 모델을 이용하시오
* 최적의 모델을 찾고 자신이 탑승했을 경우 인적사항을 넣고 결과를 예측하시오
>
* 컬럼
    - PassengerId : 고객 번호
    - Survived : 0이면 사망, 1이면 생존
    - Pclass : 티켓 등급 : 1, 2, 3
    - Sex : 성별, 0.남성, 1.여성
    - Age : 나이
    - SibSp : 형제, 자매, 배우자의 합
    - Parch : 부모, 자식의 합
    - Fare : 요금

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('data/titanic_cleaning.csv')
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    0  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250
3            4         1       1    1  35.0      1      0  53.1000
4            5         0       3    0  35.0      0      0   8.0500

In [2]:
df['Survived'].unique()

array([0, 1], dtype=int64)

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare'],
      dtype='object')

In [4]:
features = [ 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch','Fare']
label = 'Survived'
X, y = df[features], df[label]

print(X)
y

     Pclass  Sex        Age  SibSp  Parch     Fare
0         3    0  22.000000      1      0   7.2500
1         1    1  38.000000      1      0  71.2833
2         3    1  26.000000      0      0   7.9250
3         1    1  35.000000      1      0  53.1000
4         3    0  35.000000      0      0   8.0500
..      ...  ...        ...    ...    ...      ...
886       2    0  27.000000      0      0  13.0000
887       1    1  19.000000      0      0  30.0000
888       3    1  29.699118      1      2  23.4500
889       1    0  26.000000      0      0  30.0000
890       3    0  32.000000      0      0   7.7500

[891 rows x 6 columns]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = \
                    train_test_split(X, y, test_size =0.2)

In [6]:
print('총 개수 : ', X.shape, y.shape)
print('train 개수 : ', X_train.shape, y_train.shape )
print('test 개수 : ', X_test.shape, y_test.shape )

총 개수 :  (891, 6) (891,)
train 개수 :  (712, 6) (712,)
test 개수 :  (179, 6) (179,)

In [7]:
from sklearn.neighbors import KNeighborsClassifier

#모델 생성
kn = KNeighborsClassifier()

#학습
kn.fit(X_train , y_train)

#평가(정확도) : 정확도는 맞춘 개수
kn.score(X_test, y_test)

0.7318435754189944

In [8]:
import sklearn.svm as svm
svm_linear = svm.SVC(kernel = 'linear')
svm_linear.fit(X_train, y_train)
svm_linear.score(X_test, y_test)

0.7932960893854749

In [9]:
svm_rbf = svm.SVC(kernel = 'rbf')
svm_rbf.fit(X_train, y_train)
svm_rbf.score(X_test, y_test)

0.7206703910614525

In [10]:
from sklearn.tree import DecisionTreeClassifier

# 모델 생성
dt_clf = DecisionTreeClassifier()

# 학습
dt_clf.fit( X_train, y_train )

# 평가
dt_clf.score( X_test, y_test )

0.7597765363128491

In [11]:
svm_rbf = svm.SVC(kernel = 'rbf', probability=True)
svm_rbf.fit( X_train, y_train )
kn = KNeighborsClassifier()
kn.fit( X_train, y_train)

dt_clf = DecisionTreeClassifier()
dt_clf.fit( X_train, y_train )

DecisionTreeClassifier()

In [12]:
from sklearn.ensemble import VotingClassifier
vo = VotingClassifier(estimators=[('svc',svm_rbf),('knn',kn),('DecisionTree',dt_clf)], voting='soft')

vo.fit( X_train, y_train )
print('svm : ', svm_rbf.score(X_test, y_test) )
print('knn : ', kn.score(X_test, y_test) )
print('dt_clf : ', dt_clf.score(X_test, y_test) )
print('vo : ', vo.score(X_test, y_test ))

svm :  0.7206703910614525
knn :  0.7318435754189944
dt_clf :  0.7541899441340782
vo :  0.776536312849162

In [13]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
rfc.score( X_test, y_test)

0.8212290502793296

In [14]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
gbc.score(X_train, y_train)

0.9030898876404494

In [15]:
df.head(3)

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    0  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250

In [16]:
dt_clf.predict([[3,0,22.0,1,0,7.2500]])

array([0], dtype=int64)

### Quiz
* accuracy, recall, precision 별 평가지표 사용
* 타이타닉과 은행 마케팅 결과를 평가지표로 확인해 보세요
* 어떠한 평가지표를 쓰는게 옳을지 생각해 보세요
* 예측 정답 구하기 : pred = rfc.predict(X_test)

In [19]:
pred = rfc.predict(X_test)
pred

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1], dtype=int64)

In [18]:
#예측 정확도 평가(Accuracy 를 통한 성능평가)
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy = accuracy_score(y_test, pred) #정확도
precision = precision_score(y_test, pred) #정밀도
recall = recall_score(y_test, pred) #재현율
f1 = f1_score(y_test, pred) #f1 score

print('정확도 : ',accuracy)
print('재현율 : ',recall)
print('정밀도 : ',precision)
print('f1_score : ',f1)

정확도 :  0.8212290502793296
재현율 :  0.7833333333333333
정밀도 :  0.7121212121212122
f1_score :  0.746031746031746