### quiz('data/online_shoppers_intention.csv')

#### 데이터 시각화 및 탐색적 데이터 분석
* Weekend : 평일과 주말중 더 많이 사이트에 방문하는 날 
* Revenue : 쇼핑 웹 사이트에는 방문한 사람들 중 수익을 창출은 얼마나 되는지
* OperatingSystems : 운영체제별 방문자 수 확인
* Browser : 브라우저별 방문자 수 확인
* Region : 어느 지역에서 많이 접근하는지
* Month, VisitorType : 월별 신규방문자 및 기존 방문자 수 
* Month, SpecialDay : 월별 이벤트가 발생한 날

#### 데이터 전처리
* 결측치
* 문자열 데이터
* 이상치
* 중복데이터

#### 피처 엔지니어링
* StandardScaler

#### 데이터 모델링
* 군집 개수 확인

#### 클러스터링
* 군집

#### 컬럼
* Weekend(주말) : True(주말방문), False(평일방문)
* Revenue(수익) : True(수익창출), False(수익없음)
* OperatingSystems(운영체제) : 1 ~ 8 (이름 없음)
* Browser(브라우져) : 1 ~ 13 (이름 없음)
* Region(접속지역) : 1 ~ 9 (이름 없음)
* Month(월) : Feb(2), Mar(3), May(5), June(6), Jul(7), Aug(8), Sep(9), Oct(10), Nov(11),Dec(12)
* VisitorType(방문자 유형) : Returning_Visitor(재방문), New_Visitor(신규), Other(그 외)
* SpecialDay(특별한 날) : 0 ~ 1 ( 이벤트 유형 (이름없음))

In [2]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
df = pd.read_csv('data/online_shoppers_intention.csv')
df.head()

,SpecialDay,Month,OperatingSystems,Browser,Region,VisitorType,Weekend,Revenue
0,0.0,Feb,1,1,1,Returning_Visitor,False,False
1,0.0,Feb,2,2,1,Returning_Visitor,False,False
2,0.0,Feb,4,1,9,Returning_Visitor,False,False
3,0.0,Feb,3,2,2,Returning_Visitor,False,False
4,0.0,Feb,3,3,1,Returning_Visitor,True,False

In [3]:
df.isnull().sum()

SpecialDay          0
Month               0
OperatingSystems    0
Browser             0
Region              0
VisitorType         0
Weekend             0
Revenue             0
dtype: int64

In [4]:
df.dtypes

# object 변환 해야함

SpecialDay          float64
Month                object
OperatingSystems      int64
Browser               int64
Region                int64
VisitorType          object
Weekend                bool
Revenue                bool
dtype: object

In [6]:
df['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [7]:
#여성 0 , 남성 1
df['Month_num'] = df['Month'].map({'Feb':2,'Mar':3,'May':5,'Oct':10,'June':6,'Jul':7,'Aug':8,'Nov':11,'Sep':9,'Dec':12})
df.head(2).T

                                  0                  1
SpecialDay                      0.0                0.0
Month                           Feb                Feb
OperatingSystems                  1                  2
Browser                           1                  2
Region                            1                  1
VisitorType       Returning_Visitor  Returning_Visitor
Weekend                       False              False
Revenue                       False              False
Month_num                         2                  2

In [8]:
df.dtypes

SpecialDay          float64
Month                object
OperatingSystems      int64
Browser               int64
Region                int64
VisitorType          object
Weekend                bool
Revenue                bool
Month_num             int64
dtype: object

In [12]:
df['VisitorType'].unique()

array(['Returning_Visitor', 'New_Visitor', 'Other'], dtype=object)

In [13]:
df['VisitorType_num'] = df['VisitorType'].map({'Returning_Visitor':0,'New_Visitor':1,'Other':2})
df.head(2).T

                                  0                  1
SpecialDay                      0.0                0.0
Month                           Feb                Feb
OperatingSystems                  1                  2
Browser                           1                  2
Region                            1                  1
VisitorType       Returning_Visitor  Returning_Visitor
Weekend                       False              False
Revenue                       False              False
Month_num                         2                  2
VisitorType_num                   0                  0

In [14]:
df.columns

Index(['SpecialDay', 'Month', 'OperatingSystems', 'Browser', 'Region',
       'VisitorType', 'Weekend', 'Revenue', 'Month_num', 'VisitorType_num'],
      dtype='object')

In [17]:
columns = ['SpecialDay', 'OperatingSystems', 'Browser', 'Region',
    'Weekend', 'Revenue', 'Month_num', 'VisitorType_num']

for col in columns :
    q1 = df[col].describe().loc['25%']
    q3 = df[col].describe().loc['75%']
    
    iqr = q3 - q1
    
    lowerfence = q1 - iqr*1.5
    upperfence = q3 + iqr*1.5
    print(col)
    print('최저 이상치 :',lowerfence,', 최고 이상치 :',upperfence)
    print('이상치\n',df[(df[col] < lowerfence) | (df[col] > upperfence)])
    print("="*50)

SpecialDay
최저 이상치 : 0.0 , 최고 이상치 : 0.0
이상치
       SpecialDay Month  OperatingSystems  Browser  Region        VisitorType  \
6            0.4   Feb                 2        4       3  Returning_Visitor
8            0.8   Feb                 2        2       2  Returning_Visitor
9            0.4   Feb                 2        4       1  Returning_Visitor
11           0.4   Feb                 1        1       4  Returning_Visitor
20           1.0   Feb                 2        2       5  Returning_Visitor
...          ...   ...               ...      ...     ...                ...
5439         0.2   May                 2        2       3  Returning_Visitor
5448         0.6   May                 3        2       3  Returning_Visitor
5450         0.6   May                 3        2       8  Returning_Visitor
5453         0.8   May                 2        4       7  Returning_Visitor
5454         0.8   May                 3        2       3  Returning_Visitor

      Weekend  Revenue  Month_num  VisitorType_num
6       False    False          2                0
8       False    False          2                0
9       False    False          2                0
11      False    False          2                0
20       True    False          2                0
...       ...      ...        ...              ...
5439    False    False          5                0
5448    False    False          5                0
5450    False    False          5                0
5453    False    False          5                0
5454    False    False          5                0

[1251 rows x 10 columns]
==================================================
OperatingSystems
최저 이상치 : 0.5 , 최고 이상치 : 4.5
이상치
        SpecialDay Month  OperatingSystems  Browser  Region        VisitorType  \
260           0.0   Mar                 7        1       6  Returning_Visitor
883           0.0   Mar                 7        1       1        New_Visitor
2218          0.8   May                 7        1       3  Returning_Visitor
2414          0.8   May                 6        2       2  Returning_Visitor
2680          0.0   May                 6        2       3  Returning_Visitor
...           ...   ...               ...      ...     ...                ...
12156         0.0   Dec                 8       13       9              Other
12164         0.0   Nov                 8        2       4  Returning_Visitor
12185         0.0   Dec                 8       13       9              Other
12243         0.0   Dec                 8       13       9              Other
12314         0.0   Dec                 5       11       4  Returning_Visitor

       Weekend  Revenue  Month_num  VisitorType_num
260       True    False          3                0
883       True    False          3                1
2218     False    False          5                0
2414     False    False          5                0
2680     False    False          5                0
...        ...      ...        ...              ...
12156    False    False         12                2
12164    False    False         11                0
12185    False    False         12                2
12243    False    False         12                2
12314     True    False         12                0

[111 rows x 10 columns]
==================================================
Browser
최저 이상치 : 2.0 , 최고 이상치 : 2.0
이상치
        SpecialDay Month  OperatingSystems  Browser  Region        VisitorType  \
0             0.0   Feb                 1        1       1  Returning_Visitor
2             0.0   Feb                 4        1       9  Returning_Visitor
4             0.0   Feb                 3        3       1  Returning_Visitor
6             0.4   Feb                 2        4       3  Returning_Visitor
9             0.4   Feb                 2        4       1  Returning_Visitor
...           ...   ...               ...      ...     ...                ...
12312         0.0   Nov                 2        5       1  Returning_Visitor
12314         0.0   Dec                 5       11       4  Returning_Visitor
12316         0.0   Dec                 4        1       3  Returning_Visitor
12321         0.0   Nov                 1        8       4  Returning_Visitor
12325         0.0   Dec                 4        6       1  Returning_Visitor

       Weekend  Revenue  Month_num  VisitorType_num
0        False    False          2                0
2        False    False          2                0
4         True    False          2                0
6        False    False          2                0
9        False    False          2                0
...        ...      ...        ...              ...
12312     True     True         11                0
12314     True    False         12                0
12316    False    False         12                0
12321    False    False         11                0
12325     True    False         12                0

[4369 rows x 10 columns]
==================================================
Region
최저 이상치 : -3.5 , 최고 이상치 : 8.5
이상치
        SpecialDay Month  OperatingSystems  Browser  Region        VisitorType  \
2             0.0   Feb                 4        1       9  Returning_Visitor
15            0.0   Feb                 1        1       9  Returning_Visitor
25            0.0   Feb                 1        1       9  Returning_Visitor
119           0.0   Feb                 2        4       9  Returning_Visitor
128           0.6   Feb                 2        2       9  Returning_Visitor
...           ...   ...               ...      ...     ...                ...
12243         0.0   Dec                 8       13       9              Other
12274         0.0   Nov                 3        2       9  Returning_Visitor
12275         0.0   Nov                 2        2       9  Returning_Visitor
12281         0.0   Nov                 2        4       9  Returning_Visitor
12303         0.0   Dec                 2       13       9  Returning_Visitor

       Weekend  Revenue  Month_num  VisitorType_num
2        False    False          2                0
15       False    False          2                0
25       False    False          2                0
119      False    False          2                0
128      False    False          2                0
...        ...      ...        ...              ...
12243    False    False         12                2
12274    False    False         11                0
12275    False    False         11                0
12281    False    False         11                0
12303    False    False         12                0

[511 rows x 10 columns]
==================================================

KeyError: '25%'